<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Sunrise Charts</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            </div>
            <a href="/cart" class="d-flex align-items-center link-dark">
                <ion-icon name="bag-handle-outline" class="pe-1"></ion-icon>
                {{cart_item_count}}
            </a>
        </div>
    </nav>
</header>